#cookie-bar {background:#fff;color:#000;height:3em;padding:1em 0;}
#cookie-bar p:before {content: "!";font-size: 1.2em;padding: 2px 5px 0 5px;border-radius: 5px;margin-right: 10px;background: #d2d2d2;color: #fff;}
#cookie-bar .cb-policy {background:#d2d2d2;color:#fff;}
#cookie-bar .cb-policy:hover {background:#000;color:#fff;}